/* Styles for the home container */
.homeContainer {
    /* Center the content horizontally and vertically */
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Set the background image, covering the entire container */
    background: url(https://wallpapercave.com/wp/wp10716254.jpg) center center/cover no-repeat;
    /* Apply a semi-transparent overlay using a box-shadow with inset */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    /* Ensure the image is contained within the box */
    object-fit: contain;
}

/* Styles for the h1 element within the home container */
.homeContainer > h1 {
    /* Adjust font size and color for the main heading */
    font-size: 100px;
    color: #bec0b5;
    /* Center the text within the container */
    text-align: center;
    /* Margin adjustment to vertically center the text */
    margin-top: -100px;
}
